@using TruncksProject.Core.InputViewModel
@using TruncksProject.Domain.Enums
@inject NavigationManager navigation;

<EditForm Model="@TrunckInput" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />    
    <div class="form-group row">
        <label form="nome">YearFabrication</label>
        <div class="col-sm-4">
            <InputNumber @bind-Value="TrunckInput.YearFabrication" class="form-control" disabled="true"  />
            <ValidationMessage For="@(()=> TrunckInput.YearFabrication)" />
        </div>
    </div>
    <div class="form-group row">
        <label form="nome">YearModel</label>
        <div class="col-sm-4">
            <InputNumber @bind-Value="TrunckInput.YearModel" class="form-control" />
            <ValidationMessage For="@(()=> TrunckInput.YearModel)" />
        </div>
    </div>
    <div class="form-group row">
        <label form="nome">Model</label>
        <div class="col-sm-4">
            <InputSelect @bind-Value="TrunckInput.Model" class="form-control">
                @foreach (var m in Enum.GetValues(typeof(ETruncksModel)))
                {
                    <option value="@m">@m</option>
                }
            </InputSelect>
        </div>
    </div>
    <br />

    <button type="submit" class="btn btn-success">
        @ButtonTextSubmit
    </button>
    <button class="btn btn-danger"
            @onclick="@(()=> navigation.NavigateTo("/"))">
        @ButtonTextCancel
    </button>
</EditForm>

@code {

    [Parameter]
    public TrunckInput TrunckInput { get; set; }


    [Parameter]
    public string ButtonTextSubmit { get; set; } = "Salvar";


    [Parameter]
    public string ButtonTextCancel { get; set; } = "Cancelar";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
